In [1]:
import numpy  as np
import pandas as pd

# 시각화
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

import json

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse


# 한글 폰트 문제 해결
import platform

from matplotlib import font_manager, rc

if platform.system() == 'Darwin':
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')


# 차트 축 <- 음수 부호 지원
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False


# crawling
from bs4 import BeautifulSoup
from urllib.request import urlopen , urlretrieve
from urllib.error   import HTTPError
from urllib.error   import URLError

import requests
import re

from selenium import webdriver

from time    import sleep , time
from random  import randint
from IPython.core.display import clear_output

# 비정형 디비
# import pymongo as mongo

# print('numpy version  - ' , np.__version__)
# print('pandas version - ' , pd.__version__)

# conda install -c conda-forge python-graphviz
# pip install graphviz

import graphviz
import missingno as msno

# ml
import sklearn
from   sklearn.datasets import load_iris , load_breast_cancer

from   sklearn.model_selection import train_test_split , KFold , StratifiedKFold, cross_val_score , cross_validate , GridSearchCV

from   sklearn.tree            import DecisionTreeClassifier , export_graphviz
from   sklearn.ensemble        import RandomForestClassifier
from   sklearn.linear_model    import LogisticRegression


from   sklearn.metrics         import accuracy_score , precision_score , recall_score , f1_score , confusion_matrix , precision_recall_curve  ,  roc_curve , roc_auc_score
from   sklearn.preprocessing   import LabelEncoder , OneHotEncoder , MinMaxScaler , StandardScaler , Binarizer
from   sklearn.impute          import SimpleImputer

from   sklearn.base            import BaseEstimator

from   IPython.display import Image


sklearn.__version__

'0.24.2'

In [2]:
print('TP(target = 1 , predict = 1)')
print('TN(target = 0 , predict = 0)')
print('FN(target = 1 , predict = 0) -> Type I error')
print('FP(target = 0 , predict = 1) -> Type 2 error')

target     = [1, 0, 0, 1, 1, 1, 0, 1, 1, 1]
prediction = [0, 1, 1, 1, 1, 0, 1, 0, 1, 0]

tp = tn = fn = fp = 0

for idx in range(len(target)) :
    if target[idx] == 1 and prediction[idx] == 1 :
        tp += 1
    if target[idx] == 0 and prediction[idx] == 0 :
        tn += 1
    if target[idx] == 1 and prediction[idx] == 0 :
        fn += 1
    if target[idx] == 0 and prediction[idx] == 1 :
        fp += 1

print()
print('TP(target = 1 , predict = 1) - ' , tp)
print('TN(target = 0 , predict = 0) - ' , tn)
print('FN(target = 1 , predict = 0) -> Type I error - ' , fn)
print('FP(target = 0 , predict = 1) -> Type 2 error - ' , fp)

TP(target = 1 , predict = 1)
TN(target = 0 , predict = 0)
FN(target = 1 , predict = 0) -> Type I error
FP(target = 0 , predict = 1) -> Type 2 error

TP(target = 1 , predict = 1) -  3
TN(target = 0 , predict = 0) -  0
FN(target = 1 , predict = 0) -> Type I error -  4
FP(target = 0 , predict = 1) -> Type 2 error -  3

In [3]:
print('confusion matrix \n' , confusion_matrix(target , prediction))
print()
print('accuracy \n' , accuracy_score(target , prediction))
print()
print('recall \n'   , recall_score(target , prediction))
print()
print('precision \n'   , precision_score(target , prediction))
print()
print('f1 score \n'   , f1_score(target , prediction))

confusion matrix
 [[0 3]
 [4 3]]

accuracy
 0.3

recall
 0.42857142857142855

precision
 0.5

f1 score
 0.4615384615384615

In [4]:
'''
요구사항)
제품을 생산하는 공장에서 품질 테스트를 실시하여 불량품을 찾아내고 불량품을 공장으로 돌려보낸다

테스트 결과 양성 -> 불량품
            음성 -> 정상제품

TP : 실제 불량을 불량으로 예측
TN : 실제 정상을 정상으로 예측
FN : 실제 불량을 정상으로 예측
FP : 실제 정상을 불량으로 예측

                   불량예측           정상예측
불량품               TP                 FN
정상제품             FP                 TN

정밀도(Precision) : TP / ( TP + FP )
-> 예측을 Positive 로 한 대상 중에 예측과 실제값이 Positive 로 일치하는 데이터의 비율
재현율(Recall)    : TP / ( TP + FN )
-> 실제값이 Positive 인 대상 중에 예측과 실제값이 Positive 로 일치한 데이터의 비율

- 상대적으로 정밀도가 더 중요한 지표인 경우 : 스팸매일
- 상대적으로 재현율이 더 중요한 지표인 경우 : 의학(암 진단) , 금융(사기 판별)
'''

'\n요구사항)\n제품을 생산하는 공장에서 품질 테스트를 실시하여 불량품을 찾아내고 불량품을 공장으로 돌려보낸다\n\n테스트 결과 양성 -> 불량품\n            음성 -> 정상제품\n\nTP : 실제 불량을 불량으로 예측\nTN : 실제 정상을 정상으로 예측\nFN : 실제 불량을 정상으로 예측\nFP : 실제 정상을 불량으로 예측\n\n                   불량예측           정상예측\n불량품               TP                 FN\n정상제품             FP                 TN\n\n정밀도(Precision) : TP / ( TP + FP )\n-> 예측을 Positive 로 한 대상 중에 예측과 실제값이 Positive 로 일치하는 데이터의 비율\n재현율(Recall)    : TP / ( TP + FN )\n-> 실제값이 Positive 인 대상 중에 예측과 실제값이 Positive 로 일치한 데이터의 비율\n\n- 상대적으로 정밀도가 더 중요한 지표인 경우 : 스팸매일\n- 상대적으로 재현율이 더 중요한 지표인 경우 : 의학(암 진단) , 금융(사기 판별)\n'

In [5]:
titanic_frm = pd.read_csv('/Users/choijaewoo/ml-data/titanic_train.csv')
titanic_frm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
class UserEstimator(BaseEstimator) :
    def fit(self , X , y = None ) :
        pass

    def predict(self , X) :
        pred = np.zeros( (X.shape[0] , 1))
        for idx in range(X.shape[0]) :
            if X['Sex'].iloc[idx] == 1 :
                pred[idx] = 0
            else :
                pred[idx] = 1

        return pred

In [7]:
print('불필요한 피처 삭제 - ')
def drop_features(frm) :

    frm.drop(['PassengerId' , 'Name' , 'Ticket'] , axis = 1 , inplace = True )
    return frm

print('결측값 처리  - ')
def pre_processing(frm) :

    titanic_age_imputer = SimpleImputer(strategy = 'mean')

    frm['Age']  = titanic_age_imputer.fit_transform(frm[['Age']])
    frm['Cabin'].fillna('N' , inplace = True )
    frm['Embarked'] =  frm['Embarked'].fillna('N')

    return frm

print('레이블 인코딩 -')
def label_encoder(frm) :

    frm['Cabin'] = frm['Cabin'].str[:1]

    features = ['Sex' , 'Cabin' , 'Embarked']

    for f in features :
        le = LabelEncoder()
        le = le.fit(frm[f])
        frm[f] = le.transform(frm[f])

    return frm


def transform_features(frm) :
    frm = drop_features(frm)
    frm = pre_processing(frm)
    frm = label_encoder(frm)

    return frm

불필요한 피처 삭제 -
결측값 처리  -
레이블 인코딩 -

In [8]:
titanic_target   = titanic_frm['Survived']
titanic_features = titanic_frm.drop(['Survived'] , axis = 1)

print('type - ' , type(titanic_target))
print('type - ' , type(titanic_features))

type -  <class 'pandas.core.series.Series'>
type -  <class 'pandas.core.frame.DataFrame'>

In [9]:
titanic_features

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
titanic_target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [11]:
clean_features = transform_features(titanic_features)