In [1]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
multi_col_idx_frm = pd.DataFrame( np.round( np.random.randn(5, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ])

multi_col_idx_frm

  Grp01       Grp02
  col01 col02 col03 col04
0  1.17 -0.68  1.65 -0.72
1 -0.23  0.05 -1.60  2.22
2 -0.10 -0.11  0.90 -0.10
3  0.13 -0.77 -2.04 -0.00
4 -0.19 -1.44 -0.51  0.12

In [4]:
multi_col_idx_frm.columns

MultiIndex([('Grp01', 'col01'),
            ('Grp01', 'col02'),
            ('Grp02', 'col03'),
            ('Grp02', 'col04')],
           )

In [5]:
multi_col_idx_frm.columns.names = ['GrpIdx' , 'ColIdx' ]
multi_col_idx_frm

GrpIdx Grp01       Grp02
ColIdx col01 col02 col03 col04
0       1.17 -0.68  1.65 -0.72
1      -0.23  0.05 -1.60  2.22
2      -0.10 -0.11  0.90 -0.10
3       0.13 -0.77 -2.04 -0.00
4      -0.19 -1.44 -0.51  0.12

In [6]:
multi_col_idx_frm.columns.names

FrozenList(['GrpIdx', 'ColIdx'])

In [7]:
multi_idx_frm = pd.DataFrame( np.round( np.random.randn(6, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ] ,
                                  index = [
                                      ['M' , 'M' , 'M' , 'F' , 'F' , 'F'] ,
                                      [ 'id_' + str(idx) for idx in range(6) ]
                                  ])

multi_idx_frm.columns.names = ['GrpIdx'  , 'ColIdx' ]
multi_idx_frm.index.names   = ['GenderIdx' , 'RowIdx' ]
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0    0.14 -0.73 -0.16  1.06
          id_1   -0.77  0.18  0.59 -0.33
          id_2   -0.13  0.37  0.33  1.13
F         id_3    1.00  1.09 -1.02  0.03
          id_4   -0.01 -1.20 -0.74 -0.72
          id_5   -1.28  0.70  1.40  0.24

In [8]:
multi_idx_frm.stack()

GrpIdx                   Grp01  Grp02
GenderIdx RowIdx ColIdx
M         id_0   col01    0.14    NaN
                 col02   -0.73    NaN
                 col03     NaN  -0.16
                 col04     NaN   1.06
          id_1   col01   -0.77    NaN
                 col02    0.18    NaN
                 col03     NaN   0.59
                 col04     NaN  -0.33
          id_2   col01   -0.13    NaN
                 col02    0.37    NaN
                 col03     NaN   0.33
                 col04     NaN   1.13
F         id_3   col01    1.00    NaN
                 col02    1.09    NaN
                 col03     NaN  -1.02
                 col04     NaN   0.03
          id_4   col01   -0.01    NaN
                 col02   -1.20    NaN
                 col03     NaN  -0.74
                 col04     NaN  -0.72
          id_5   col01   -1.28    NaN
                 col02    0.70    NaN
                 col03     NaN   1.40
                 col04     NaN   0.24

In [9]:
multi_idx_frm.stack('GrpIdx')

ColIdx                   col01  col02  col03  col04
GenderIdx RowIdx GrpIdx
M         id_0   Grp01    0.14  -0.73    NaN    NaN
                 Grp02     NaN    NaN  -0.16   1.06
          id_1   Grp01   -0.77   0.18    NaN    NaN
                 Grp02     NaN    NaN   0.59  -0.33
          id_2   Grp01   -0.13   0.37    NaN    NaN
                 Grp02     NaN    NaN   0.33   1.13
F         id_3   Grp01    1.00   1.09    NaN    NaN
                 Grp02     NaN    NaN  -1.02   0.03
          id_4   Grp01   -0.01  -1.20    NaN    NaN
                 Grp02     NaN    NaN  -0.74  -0.72
          id_5   Grp01   -1.28   0.70    NaN    NaN
                 Grp02     NaN    NaN   1.40   0.24

In [10]:
multi_idx_frm.unstack()

GrpIdx    Grp01                                                       ...  \
ColIdx    col01                              col02                    ...
RowIdx     id_0  id_1  id_2 id_3  id_4  id_5  id_0  id_1  id_2  id_3  ...
GenderIdx                                                             ...
F           NaN   NaN   NaN  1.0 -0.01 -1.28   NaN   NaN   NaN  1.09  ...
M          0.14 -0.77 -0.13  NaN   NaN   NaN -0.73  0.18  0.37   NaN  ...

GrpIdx    Grp02
ColIdx    col03                  col04
RowIdx     id_2  id_3  id_4 id_5  id_0  id_1  id_2  id_3  id_4  id_5
GenderIdx
F           NaN -1.02 -0.74  1.4   NaN   NaN   NaN  0.03 -0.72  0.24
M          0.33   NaN   NaN  NaN  1.06 -0.33  1.13   NaN   NaN   NaN

[2 rows x 24 columns]

In [11]:
multi_idx_frm.unstack('GenderIdx')

GrpIdx    Grp01                   Grp02
ColIdx    col01       col02       col03       col04
GenderIdx     F     M     F     M     F     M     F     M
RowIdx
id_0        NaN  0.14   NaN -0.73   NaN -0.16   NaN  1.06
id_1        NaN -0.77   NaN  0.18   NaN  0.59   NaN -0.33
id_2        NaN -0.13   NaN  0.37   NaN  0.33   NaN  1.13
id_3       1.00   NaN  1.09   NaN -1.02   NaN  0.03   NaN
id_4      -0.01   NaN -1.20   NaN -0.74   NaN -0.72   NaN
id_5      -1.28   NaN  0.70   NaN  1.40   NaN  0.24   NaN

In [12]:

multi_idx_frm[ [ ('Grp01', 'col01') , ('Grp01', 'col02') ] ]

GrpIdx           Grp01
ColIdx           col01 col02
GenderIdx RowIdx
M         id_0    0.14 -0.73
          id_1   -0.77  0.18
          id_2   -0.13  0.37
F         id_3    1.00  1.09
          id_4   -0.01 -1.20
          id_5   -1.28  0.70

In [13]:
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0    0.14 -0.73 -0.16  1.06
          id_1   -0.77  0.18  0.59 -0.33
          id_2   -0.13  0.37  0.33  1.13
F         id_3    1.00  1.09 -1.02  0.03
          id_4   -0.01 -1.20 -0.74 -0.72
          id_5   -1.28  0.70  1.40  0.24

In [14]:
multi_idx_frm[('Grp02','col03')].values[0]

-0.16

In [15]:
multi_idx_frm.loc[('M', 'id_1'), 'Grp02']
multi_idx_frm['Grp02'].values[1]
multi_idx_frm[ ('Grp02','col03') ]  [('M','id_2')]

0.33

In [16]:
multi_idx_frm[[('Grp02','col03'),('Grp02','col04')]].iloc[1].values

array([ 0.59, -0.33])

In [17]:
print('M 정보만 출력 - ')

multi_idx_frm.loc['M']
multi_idx_frm.iloc[ : 3 , 2 : 4  ]

M 정보만 출력 -

GrpIdx           Grp02
ColIdx           col03 col04
GenderIdx RowIdx
M         id_0   -0.16  1.06
          id_1    0.59 -0.33
          id_2    0.33  1.13

In [18]:
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0    0.14 -0.73 -0.16  1.06
          id_1   -0.77  0.18  0.59 -0.33
          id_2   -0.13  0.37  0.33  1.13
F         id_3    1.00  1.09 -1.02  0.03
          id_4   -0.01 -1.20 -0.74 -0.72
          id_5   -1.28  0.70  1.40  0.24

In [19]:
multi_idx_frm.sort_index(level = 1 , axis = 1)

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0    0.14 -0.73 -0.16  1.06
          id_1   -0.77  0.18  0.59 -0.33
          id_2   -0.13  0.37  0.33  1.13
F         id_3    1.00  1.09 -1.02  0.03
          id_4   -0.01 -1.20 -0.74 -0.72
          id_5   -1.28  0.70  1.40  0.24