In [1]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
multi_col_idx_frm = pd.DataFrame( np.round( np.random.randn(5, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ])

multi_col_idx_frm

  Grp01       Grp02
  col01 col02 col03 col04
0  0.52 -0.52 -0.99  0.32
1 -2.17 -0.83 -0.71  0.04
2  0.42  0.49  0.13  0.16
3 -0.19 -3.41  0.01 -1.00
4  1.23  1.85  0.57  0.03

In [4]:
multi_col_idx_frm.columns

MultiIndex([('Grp01', 'col01'),
            ('Grp01', 'col02'),
            ('Grp02', 'col03'),
            ('Grp02', 'col04')],
           )

In [5]:
multi_col_idx_frm.columns.names = ['GrpIdx' , 'ColIdx' ]
multi_col_idx_frm

GrpIdx Grp01       Grp02
ColIdx col01 col02 col03 col04
0       0.52 -0.52 -0.99  0.32
1      -2.17 -0.83 -0.71  0.04
2       0.42  0.49  0.13  0.16
3      -0.19 -3.41  0.01 -1.00
4       1.23  1.85  0.57  0.03

In [6]:
multi_col_idx_frm.columns.names

FrozenList(['GrpIdx', 'ColIdx'])

In [8]:
multi_idx_frm = pd.DataFrame( np.round( np.random.randn(6, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ] ,
                                  index = [
                                      ['M' , 'M' , 'M' , 'F' , 'F' , 'F'] ,
                                      [ 'id_' + str(idx) for idx in range(6) ]
                                  ])

multi_idx_frm.columns.names = ['GrpIdx'  , 'ColIdx' ]
multi_idx_frm.index.names   = ['GenderIdx' , 'RowIdx' ]
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -0.68 -0.72  1.22 -0.65
          id_1   -0.34 -0.62  0.66 -0.39
          id_2    0.24 -0.27 -0.10  0.57
F         id_3    0.25 -0.45  0.68 -0.59
          id_4    0.15  0.32 -1.02 -0.70
          id_5    0.71 -1.06 -1.39 -0.29