In [1]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
multi_col_idx_frm = pd.DataFrame( np.round( np.random.randn(5, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ])

multi_col_idx_frm

  Grp01       Grp02
  col01 col02 col03 col04
0  0.52 -0.52 -0.99  0.32
1 -2.17 -0.83 -0.71  0.04
2  0.42  0.49  0.13  0.16
3 -0.19 -3.41  0.01 -1.00
4  1.23  1.85  0.57  0.03

In [4]:
multi_col_idx_frm.columns

MultiIndex([('Grp01', 'col01'),
            ('Grp01', 'col02'),
            ('Grp02', 'col03'),
            ('Grp02', 'col04')],
           )

In [5]:
multi_col_idx_frm.columns.names = ['GrpIdx' , 'ColIdx' ]
multi_col_idx_frm

GrpIdx Grp01       Grp02
ColIdx col01 col02 col03 col04
0       0.52 -0.52 -0.99  0.32
1      -2.17 -0.83 -0.71  0.04
2       0.42  0.49  0.13  0.16
3      -0.19 -3.41  0.01 -1.00
4       1.23  1.85  0.57  0.03

In [6]:
multi_col_idx_frm.columns.names

FrozenList(['GrpIdx', 'ColIdx'])

In [8]:
multi_idx_frm = pd.DataFrame( np.round( np.random.randn(6, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ] ,
                                  index = [
                                      ['M' , 'M' , 'M' , 'F' , 'F' , 'F'] ,
                                      [ 'id_' + str(idx) for idx in range(6) ]
                                  ])

multi_idx_frm.columns.names = ['GrpIdx'  , 'ColIdx' ]
multi_idx_frm.index.names   = ['GenderIdx' , 'RowIdx' ]
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -0.68 -0.72  1.22 -0.65
          id_1   -0.34 -0.62  0.66 -0.39
          id_2    0.24 -0.27 -0.10  0.57
F         id_3    0.25 -0.45  0.68 -0.59
          id_4    0.15  0.32 -1.02 -0.70
          id_5    0.71 -1.06 -1.39 -0.29

In [9]:
multi_idx_frm.stack()

GrpIdx                   Grp01  Grp02
GenderIdx RowIdx ColIdx
M         id_0   col01   -0.68    NaN
                 col02   -0.72    NaN
                 col03     NaN   1.22
                 col04     NaN  -0.65
          id_1   col01   -0.34    NaN
                 col02   -0.62    NaN
                 col03     NaN   0.66
                 col04     NaN  -0.39
          id_2   col01    0.24    NaN
                 col02   -0.27    NaN
                 col03     NaN  -0.10
                 col04     NaN   0.57
F         id_3   col01    0.25    NaN
                 col02   -0.45    NaN
                 col03     NaN   0.68
                 col04     NaN  -0.59
          id_4   col01    0.15    NaN
                 col02    0.32    NaN
                 col03     NaN  -1.02
                 col04     NaN  -0.70
          id_5   col01    0.71    NaN
                 col02   -1.06    NaN
                 col03     NaN  -1.39
                 col04     NaN  -0.29

In [10]:
multi_idx_frm.stack('GrpIdx')

ColIdx                   col01  col02  col03  col04
GenderIdx RowIdx GrpIdx
M         id_0   Grp01   -0.68  -0.72    NaN    NaN
                 Grp02     NaN    NaN   1.22  -0.65
          id_1   Grp01   -0.34  -0.62    NaN    NaN
                 Grp02     NaN    NaN   0.66  -0.39
          id_2   Grp01    0.24  -0.27    NaN    NaN
                 Grp02     NaN    NaN  -0.10   0.57
F         id_3   Grp01    0.25  -0.45    NaN    NaN
                 Grp02     NaN    NaN   0.68  -0.59
          id_4   Grp01    0.15   0.32    NaN    NaN
                 Grp02     NaN    NaN  -1.02  -0.70
          id_5   Grp01    0.71  -1.06    NaN    NaN
                 Grp02     NaN    NaN  -1.39  -0.29

In [11]:
multi_idx_frm.unstack()

GrpIdx    Grp01                                                        ...  \
ColIdx    col01                               col02                    ...
RowIdx     id_0  id_1  id_2  id_3  id_4  id_5  id_0  id_1  id_2  id_3  ...
GenderIdx                                                              ...
F           NaN   NaN   NaN  0.25  0.15  0.71   NaN   NaN   NaN -0.45  ...
M         -0.68 -0.34  0.24   NaN   NaN   NaN -0.72 -0.62 -0.27   NaN  ...

GrpIdx    Grp02
ColIdx    col03                   col04
RowIdx     id_2  id_3  id_4  id_5  id_0  id_1  id_2  id_3 id_4  id_5
GenderIdx
F           NaN  0.68 -1.02 -1.39   NaN   NaN   NaN -0.59 -0.7 -0.29
M          -0.1   NaN   NaN   NaN -0.65 -0.39  0.57   NaN  NaN   NaN

[2 rows x 24 columns]

In [12]:
multi_idx_frm.unstack('GenderIdx')

GrpIdx    Grp01                   Grp02
ColIdx    col01       col02       col03       col04
GenderIdx     F     M     F     M     F     M     F     M
RowIdx
id_0        NaN -0.68   NaN -0.72   NaN  1.22   NaN -0.65
id_1        NaN -0.34   NaN -0.62   NaN  0.66   NaN -0.39
id_2        NaN  0.24   NaN -0.27   NaN -0.10   NaN  0.57
id_3       0.25   NaN -0.45   NaN  0.68   NaN -0.59   NaN
id_4       0.15   NaN  0.32   NaN -1.02   NaN -0.70   NaN
id_5       0.71   NaN -1.06   NaN -1.39   NaN -0.29   NaN