In [1]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
multi_col_idx_frm = pd.DataFrame( np.round( np.random.randn(5, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ])

multi_col_idx_frm

  Grp01       Grp02
  col01 col02 col03 col04
0 -1.21  0.00 -0.40  0.04
1 -0.50  0.34  1.14 -0.19
2 -1.07 -0.33  0.73 -1.01
3  0.44 -0.53 -0.59  0.24
4 -0.05  1.66 -0.93  0.95

In [4]:
multi_col_idx_frm.columns

MultiIndex([('Grp01', 'col01'),
            ('Grp01', 'col02'),
            ('Grp02', 'col03'),
            ('Grp02', 'col04')],
           )

In [5]:
multi_col_idx_frm.columns.names = ['GrpIdx' , 'ColIdx' ]
multi_col_idx_frm

GrpIdx Grp01       Grp02
ColIdx col01 col02 col03 col04
0      -1.21  0.00 -0.40  0.04
1      -0.50  0.34  1.14 -0.19
2      -1.07 -0.33  0.73 -1.01
3       0.44 -0.53 -0.59  0.24
4      -0.05  1.66 -0.93  0.95

In [6]:
multi_col_idx_frm.columns.names

FrozenList(['GrpIdx', 'ColIdx'])

In [7]:
multi_idx_frm = pd.DataFrame( np.round( np.random.randn(6, 4) , 2 )    ,
                                  columns = [
                                      ['Grp01' , 'Grp01' , 'Grp02' , 'Grp02'] ,
                                      ['col01' , 'col02' , 'col03' , 'col04']
                                  ] ,
                                  index = [
                                      ['M' , 'M' , 'M' , 'F' , 'F' , 'F'] ,
                                      [ 'id_' + str(idx) for idx in range(6) ]
                                  ])

multi_idx_frm.columns.names = ['GrpIdx'  , 'ColIdx' ]
multi_idx_frm.index.names   = ['GenderIdx' , 'RowIdx' ]
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -1.64  0.63  0.55  1.05
          id_1    0.77 -1.65  0.63  0.28
          id_2   -0.72 -0.86  0.67  1.73
F         id_3   -1.31  0.62 -0.99  0.16
          id_4    0.95  1.03  0.17 -0.56
          id_5   -0.40 -1.70 -0.71 -0.51

In [8]:
multi_idx_frm.stack()

GrpIdx                   Grp01  Grp02
GenderIdx RowIdx ColIdx
M         id_0   col01   -1.64    NaN
                 col02    0.63    NaN
                 col03     NaN   0.55
                 col04     NaN   1.05
          id_1   col01    0.77    NaN
                 col02   -1.65    NaN
                 col03     NaN   0.63
                 col04     NaN   0.28
          id_2   col01   -0.72    NaN
                 col02   -0.86    NaN
                 col03     NaN   0.67
                 col04     NaN   1.73
F         id_3   col01   -1.31    NaN
                 col02    0.62    NaN
                 col03     NaN  -0.99
                 col04     NaN   0.16
          id_4   col01    0.95    NaN
                 col02    1.03    NaN
                 col03     NaN   0.17
                 col04     NaN  -0.56
          id_5   col01   -0.40    NaN
                 col02   -1.70    NaN
                 col03     NaN  -0.71
                 col04     NaN  -0.51

In [9]:
multi_idx_frm.stack('GrpIdx')

ColIdx                   col01  col02  col03  col04
GenderIdx RowIdx GrpIdx
M         id_0   Grp01   -1.64   0.63    NaN    NaN
                 Grp02     NaN    NaN   0.55   1.05
          id_1   Grp01    0.77  -1.65    NaN    NaN
                 Grp02     NaN    NaN   0.63   0.28
          id_2   Grp01   -0.72  -0.86    NaN    NaN
                 Grp02     NaN    NaN   0.67   1.73
F         id_3   Grp01   -1.31   0.62    NaN    NaN
                 Grp02     NaN    NaN  -0.99   0.16
          id_4   Grp01    0.95   1.03    NaN    NaN
                 Grp02     NaN    NaN   0.17  -0.56
          id_5   Grp01   -0.40  -1.70    NaN    NaN
                 Grp02     NaN    NaN  -0.71  -0.51

In [10]:
multi_idx_frm.unstack()

GrpIdx    Grp01                                                       ...  \
ColIdx    col01                              col02                    ...
RowIdx     id_0  id_1  id_2  id_3  id_4 id_5  id_0  id_1  id_2  id_3  ...
GenderIdx                                                             ...
F           NaN   NaN   NaN -1.31  0.95 -0.4   NaN   NaN   NaN  0.62  ...
M         -1.64  0.77 -0.72   NaN   NaN  NaN  0.63 -1.65 -0.86   NaN  ...

GrpIdx    Grp02
ColIdx    col03                   col04
RowIdx     id_2  id_3  id_4  id_5  id_0  id_1  id_2  id_3  id_4  id_5
GenderIdx
F           NaN -0.99  0.17 -0.71   NaN   NaN   NaN  0.16 -0.56 -0.51
M          0.67   NaN   NaN   NaN  1.05  0.28  1.73   NaN   NaN   NaN

[2 rows x 24 columns]

In [11]:
multi_idx_frm.unstack('GenderIdx')

GrpIdx    Grp01                   Grp02
ColIdx    col01       col02       col03       col04
GenderIdx     F     M     F     M     F     M     F     M
RowIdx
id_0        NaN -1.64   NaN  0.63   NaN  0.55   NaN  1.05
id_1        NaN  0.77   NaN -1.65   NaN  0.63   NaN  0.28
id_2        NaN -0.72   NaN -0.86   NaN  0.67   NaN  1.73
id_3      -1.31   NaN  0.62   NaN -0.99   NaN  0.16   NaN
id_4       0.95   NaN  1.03   NaN  0.17   NaN -0.56   NaN
id_5      -0.40   NaN -1.70   NaN -0.71   NaN -0.51   NaN

In [12]:

multi_idx_frm[ [ ('Grp01', 'col01') , ('Grp01', 'col02') ] ]

GrpIdx           Grp01
ColIdx           col01 col02
GenderIdx RowIdx
M         id_0   -1.64  0.63
          id_1    0.77 -1.65
          id_2   -0.72 -0.86
F         id_3   -1.31  0.62
          id_4    0.95  1.03
          id_5   -0.40 -1.70

In [13]:
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -1.64  0.63  0.55  1.05
          id_1    0.77 -1.65  0.63  0.28
          id_2   -0.72 -0.86  0.67  1.73
F         id_3   -1.31  0.62 -0.99  0.16
          id_4    0.95  1.03  0.17 -0.56
          id_5   -0.40 -1.70 -0.71 -0.51

In [14]:
multi_idx_frm[('Grp02','col03')].values[0]

0.55

In [15]:
multi_idx_frm.loc[('M', 'id_1'), 'Grp02']
multi_idx_frm['Grp02'].values[1]
multi_idx_frm[ ('Grp02','col03') ]  [('M','id_2')]

0.67

In [16]:
multi_idx_frm[[('Grp02','col03'),('Grp02','col04')]].iloc[1].values

array([0.63, 0.28])

In [17]:
print('M 정보만 출력 - ')

multi_idx_frm.loc['M']
multi_idx_frm.iloc[ : 3 , 2 : 4  ]

M 정보만 출력 -

GrpIdx           Grp02
ColIdx           col03 col04
GenderIdx RowIdx
M         id_0    0.55  1.05
          id_1    0.63  0.28
          id_2    0.67  1.73

In [18]:
multi_idx_frm

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -1.64  0.63  0.55  1.05
          id_1    0.77 -1.65  0.63  0.28
          id_2   -0.72 -0.86  0.67  1.73
F         id_3   -1.31  0.62 -0.99  0.16
          id_4    0.95  1.03  0.17 -0.56
          id_5   -0.40 -1.70 -0.71 -0.51

In [19]:
multi_idx_frm.sort_index(level = 1 , axis = 1)

GrpIdx           Grp01       Grp02
ColIdx           col01 col02 col03 col04
GenderIdx RowIdx
M         id_0   -1.64  0.63  0.55  1.05
          id_1    0.77 -1.65  0.63  0.28
          id_2   -0.72 -0.86  0.67  1.73
F         id_3   -1.31  0.62 -0.99  0.16
          id_4    0.95  1.03  0.17 -0.56
          id_5   -0.40 -1.70 -0.71 -0.51

In [20]:
grp_frm = pd.DataFrame({
    '학과' : ['인공지능' , '데이터분석' , '인공지능' , '데이터분석' , '데이터분석'] ,
    '학년' : [1, 2, 3, 4, 2] ,
    '이름' : ['Jason' , 'Kiki' , 'Alan' , 'Zi' , 'Rosa'] ,
    '학점' : [2.7, 3.5, 4.5, 3.8, 4.3]
})

grp_frm

      학과  학년     이름   학점
0   인공지능   1  Jason  2.7
1  데이터분석   2   Kiki  3.5
2   인공지능   3   Alan  4.5
3  데이터분석   4     Zi  3.8
4  데이터분석   2   Rosa  4.3

In [21]:
print('그룹을 만드는 방법은 두가지로 데이터프레임그룹 과 시리즈그룹이 생성될 수 있다. - ')
dept_frm = grp_frm.groupby( grp_frm['학과'])
print('프레임 그룹 - ' , dept_frm )

dept_series = grp_frm['학과'].groupby( grp_frm['학과'])
print('프레임 그룹 - ' , dept_series )

그룹을 만드는 방법은 두가지로 데이터프레임그룹 과 시리즈그룹이 생성될 수 있다. -
프레임 그룹 -  <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fa842f00550>
프레임 그룹 -  <pandas.core.groupby.generic.SeriesGroupBy object at 0x7fa842f00df0>

In [22]:
print('그룹 정보 확인 - ')
print('groups - ' ,  dept_series.groups )
print()
print('그룹 정보를 가져오고 싶다면 - ')
print(dept_series.get_group('데이터분석') )
print()
print(dept_series.get_group('인공지능') )

그룹 정보 확인 -
groups -  {'데이터분석': [1, 3, 4], '인공지능': [0, 2]}

그룹 정보를 가져오고 싶다면 -
1    데이터분석
3    데이터분석
4    데이터분석
Name: 학과, dtype: object

0    인공지능
2    인공지능
Name: 학과, dtype: object

In [23]:
print('데이터프레임 그룹 - ')

print('그룹 정보 확인 - ')
print('groups - ' ,  dept_frm.groups )
print()
print('그룹 정보를 가져오고 싶다면 - ')
display(dept_frm.get_group('데이터분석') )
print()
display(dept_frm.get_group('인공지능') )

데이터프레임 그룹 -
그룹 정보 확인 -
groups -  {'데이터분석': [1, 3, 4], '인공지능': [0, 2]}

그룹 정보를 가져오고 싶다면 -

      학과  학년    이름   학점
1  데이터분석   2  Kiki  3.5
3  데이터분석   4    Zi  3.8
4  데이터분석   2  Rosa  4.3

     학과  학년     이름   학점
0  인공지능   1  Jason  2.7
2  인공지능   3   Alan  4.5

In [24]:
dept_frm.describe()

         학년                                                 학점            \
      count      mean       std  min  25%  50%  75%  max count      mean
학과
데이터분석   3.0  2.666667  1.154701  2.0  2.0  2.0  3.0  4.0   3.0  3.866667
인공지능    2.0  2.000000  1.414214  1.0  1.5  2.0  2.5  3.0   2.0  3.600000


            std  min   25%  50%   75%  max
학과
데이터분석  0.404145  3.5  3.65  3.8  4.05  4.3
인공지능   1.272792  2.7  3.15  3.6  4.05  4.5

In [26]:
print('학과별 학점 평균만 출력한다면 - ')
# dept_frm.mean()
print('case01 - ')
display( grp_frm['학점'].groupby(grp_frm['학과']).mean() )
print()
print('case02 - ')
print( grp_frm.groupby(grp_frm['학과'])['학점'].mean() )
print()
print('case03 - ')
print( grp_frm.groupby(grp_frm['학과']).mean()['학점'] )

학과별 학점 평균만 출력한다면 -
case01 -

학과
데이터분석    3.866667
인공지능     3.600000
Name: 학점, dtype: float64

case02 -
학과
데이터분석    3.866667
인공지능     3.600000
Name: 학점, dtype: float64

case03 -
학과
데이터분석    3.866667
인공지능     3.600000
Name: 학점, dtype: float64

In [27]:
dept_frm.sum()

       학년    학점
학과
데이터분석   8  11.6
인공지능    4   7.2

In [28]:
dept_frm.agg( [np.mean , np.sum] )

             학년            학점
           mean sum      mean   sum
학과
데이터분석  2.666667   8  3.866667  11.6
인공지능   2.000000   4  3.600000   7.2

In [29]:
grp_frm

      학과  학년     이름   학점
0   인공지능   1  Jason  2.7
1  데이터분석   2   Kiki  3.5
2   인공지능   3   Alan  4.5
3  데이터분석   4     Zi  3.8
4  데이터분석   2   Rosa  4.3

In [30]:
print('다중 그룹 - ')

multi_grp_frm = grp_frm.groupby(['학과' , '학년'])

print('그룹 정보 확인 - ')
print('groups - ' ,  multi_grp_frm.groups )

다중 그룹 -
그룹 정보 확인 -
groups -  {('데이터분석', 2): [1, 4], ('데이터분석', 4): [3], ('인공지능', 1): [0], ('인공지능', 3): [2]}

In [31]:
tmp_frm = pd.DataFrame({
    'idx01' : ['A' , 'A' , 'B' , 'B' , 'A'] ,
    'idx02' : ['one' , 'two' , 'one' , 'two' , 'one'] ,
    'idx01_data01' : [1, 2, 3, 4, 5] ,
    'idx02_data02' : [10, 20, 30, 40, 50] ,
})

tmp_frm

  idx01 idx02  idx01_data01  idx02_data02
0     A   one             1            10
1     A   two             2            20
2     B   one             3            30
3     B   two             4            40
4     A   one             5            50