In [1]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '학번' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

    학번  학과   학점
0  100  CS  2.4
1  200  AI  4.5
2  400  AI  1.7
3  500  CS  3.9

In [4]:
print('how = inner , outer , left , right - ')
pd.merge(stu_frm , major_frm , how = 'right')

how = inner , outer , left , right -

    학번   이름   학년  학과   학점
0  100   윤석  2.0  CS  2.4
1  200   현진  4.0  AI  4.5
2  400   기성  1.0  AI  1.7
3  500  NaN  NaN  CS  3.9

In [5]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '과목코드' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

   과목코드  학과   학점
0   100  CS  2.4
1   200  AI  4.5
2   400  AI  1.7
3   500  CS  3.9

In [6]:
pd.merge(stu_frm , major_frm , how = 'inner' , left_on = '학번' , right_on = '과목코드')

    학번  이름  학년  과목코드  학과   학점
0  100  윤석   2   100  CS  2.4
1  200  현진   4   200  AI  4.5
2  400  기성   1   400  AI  1.7

In [7]:
datasets = sns.load_dataset('iris')
print('type - ' , type(datasets))
print()

type -  <class 'pandas.core.frame.DataFrame'>

In [8]:
data01 = {
    'species'      : ['setosa' , 'virginica' ,  'virginica'  , 'versicolor'],
    'sepal_length' : [5.1, 4.9 , 3.7 , 1.5] ,
    'petal_width'  : [4.1, 3.9, 3.7, 3.6]
}

data02 = {
    'species'      : ['setosa' , 'setosa' , 'virginica' ,  'virginica'],
    'sepal_length' : [4.1, 5.9 , 4.7 , 3.5]
}

iris01_frm   = pd.DataFrame(data01)
iris02_frm = pd.DataFrame(data02)

display(iris01_frm)
print()
display(iris02_frm)

      species  sepal_length  petal_width
0      setosa           5.1          4.1
1   virginica           4.9          3.9
2   virginica           3.7          3.7
3  versicolor           1.5          3.6

     species  sepal_length
0     setosa           4.1
1     setosa           5.9
2  virginica           4.7
3  virginica           3.5