In [6]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '학번' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

    학번  학과   학점
0  100  CS  2.4
1  200  AI  4.5
2  400  AI  1.7
3  500  CS  3.9

In [4]:
print('how = inner , outer , left , right - ')
pd.merge(stu_frm , major_frm , how = 'right')

how = inner , outer , left , right -

    학번   이름   학년  학과   학점
0  100   윤석  2.0  CS  2.4
1  200   현진  4.0  AI  4.5
2  400   기성  1.0  AI  1.7
3  500  NaN  NaN  CS  3.9

In [5]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '과목코드' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

   과목코드  학과   학점
0   100  CS  2.4
1   200  AI  4.5
2   400  AI  1.7
3   500  CS  3.9

In [6]:
pd.merge(stu_frm , major_frm , how = 'inner' , left_on = '학번' , right_on = '과목코드')

    학번  이름  학년  과목코드  학과   학점
0  100  윤석   2   100  CS  2.4
1  200  현진   4   200  AI  4.5
2  400  기성   1   400  AI  1.7

In [7]:
datasets = sns.load_dataset('iris')
print('type - ' , type(datasets))
print()

type -  <class 'pandas.core.frame.DataFrame'>

In [8]:
data01 = {
    'species'      : ['setosa' , 'virginica' ,  'virginica'  , 'versicolor'],
    'sepal_length' : [5.1, 4.9 , 3.7 , 1.5] ,
    'petal_width'  : [4.1, 3.9, 3.7, 3.6]
}

data02 = {
    'species'      : ['setosa' , 'setosa' , 'virginica' ,  'virginica'],
    'sepal_length' : [4.1, 5.9 , 4.7 , 3.5]
}

iris01_frm   = pd.DataFrame(data01)
iris02_frm = pd.DataFrame(data02)

display(iris01_frm)
print()
display(iris02_frm)

      species  sepal_length  petal_width
0      setosa           5.1          4.1
1   virginica           4.9          3.9
2   virginica           3.7          3.7
3  versicolor           1.5          3.6

     species  sepal_length
0     setosa           4.1
1     setosa           5.9
2  virginica           4.7
3  virginica           3.5

In [9]:
print('on -> 중복되는 키가 존재할 경우 어느 키를 기준으로 merge할지를 결정 - ')
pd.merge(iris01_frm , iris02_frm , on = 'species')

on -> 중복되는 키가 존재할 경우 어느 키를 기준으로 merge할지를 결정 -

     species  sepal_length_x  petal_width  sepal_length_y
0     setosa             5.1          4.1             4.1
1     setosa             5.1          4.1             5.9
2  virginica             4.9          3.9             4.7
3  virginica             4.9          3.9             3.5
4  virginica             3.7          3.7             4.7
5  virginica             3.7          3.7             3.5

In [10]:
print('인덱스를 기준으로 병합 - ')
print('left_index , right_index - ')

pop01_frm = pd.DataFrame({
    'city' : ['seoul' , 'seoul' , 'seoul' , 'kwangju' , 'kwangju'],
    'year' : [2010 , 2050, 2020, 2018 , 2022],
    'pop'  : [1234567, 2345678, 3456789, 4567890, 5678901]
})

pop02_frm = pd.DataFrame( np.arange(12).reshape(6,2) ,
                          columns = ['col01' , 'col02'] ,
                          index   = [ ['seoul' , 'seoul' , 'kwangju' ,  'kwangju' ,  'kwangju',  'kwangju'] ,
                                      [2010 , 2050, 2020, 2018 , 2022, 2024]
                                    ] )

print()
display(pop01_frm)
print()
display(pop02_frm)

인덱스를 기준으로 병합 -
left_index , right_index -

      city  year      pop
0    seoul  2010  1234567
1    seoul  2050  2345678
2    seoul  2020  3456789
3  kwangju  2018  4567890
4  kwangju  2022  5678901

              col01  col02
seoul   2010      0      1
        2050      2      3
kwangju 2020      4      5
        2018      6      7
        2022      8      9
        2024     10     11

In [11]:
pd.merge(pop01_frm , pop02_frm , right_index = True , left_on=['city' , 'year'])

      city  year      pop  col01  col02
0    seoul  2010  1234567      0      1
1    seoul  2050  2345678      2      3
3  kwangju  2018  4567890      6      7
4  kwangju  2022  5678901      8      9

In [12]:
print('인덱스를 기준으로 병합 - ')
print('left_index , right_index - ')

pop01_frm = pd.DataFrame({
    'city' : ['seoul' , 'seoul' , 'seoul' , 'kwangju' , 'kwangju'],
    'year' : [2010 , 2050, 2020, 2018 , 2022],
    'pop'  : [1234567, 2345678, 3456789, 4567890, 5678901]
    } ,
    index = [1,3,5,7,9])

pop02_frm = pd.DataFrame( np.arange(12).reshape(6,2) ,
                          columns = ['col01' , 'col02'] ,
                          index   = [1,2,3,4,5,6] )

print()
display(pop01_frm)
print()
display(pop02_frm)

인덱스를 기준으로 병합 -
left_index , right_index -

      city  year      pop
1    seoul  2010  1234567
3    seoul  2050  2345678
5    seoul  2020  3456789
7  kwangju  2018  4567890
9  kwangju  2022  5678901

   col01  col02
1      0      1
2      2      3
3      4      5
4      6      7
5      8      9
6     10     11

In [3]:
files = glob('./pandas_data/지역_*.xls')
tmp_raw = []
for f in files:
    tmp = pd.read_excel(f, header = 2)
    tmp_raw.append(tmp)
station = pd.concat(tmp_raw)
station

ValueError: No objects to concatenate

In [4]:
print('list 이용한 생성 - ')
print()

prices = pd.Series(['4000', 3000, 3500, 2000])
print(prices)

print()
print('type - ' , type(prices))

print()
print('index , values - ')
print('index  - ' , prices.index)
print('value  - ' , prices.values , type(prices.values))
prices = prices.astype('int32')
print('dtype  - ' , prices.dtype)

print()
print('원하는 값을 찾는다면? - 인덱싱이 가능하다 ')
print('마이너스 인덱싱은 불가하다')
print()
print('indexing - '   , prices[0] )
print('slicing  - \n' , prices[ : 3 ])
# print('indexing - '   , prices[-1]) -- error

list 이용한 생성 -

0    4000
1    3000
2    3500
3    2000
dtype: object

type -  <class 'pandas.core.series.Series'>

index , values -
index  -  RangeIndex(start=0, stop=4, step=1)
value  -  ['4000' 3000 3500 2000] <class 'numpy.ndarray'>
dtype  -  int32

원하는 값을 찾는다면? - 인덱싱이 가능하다
마이너스 인덱싱은 불가하다

indexing -  4000
slicing  -
 0    4000
1    3000
2    3500
dtype: int32

In [5]:
print('사용자 정의 인덱스 부여가 가능하다 - ')

prices = pd.Series([4000, 3000, 3500, 2000] ,
                    index = ['a', 'b', 'c', 'd']   )

print(prices)
print()
print(prices[0] , type(prices[0]) , prices['a'] )

print()
print(prices['a' : 'c'] , type(prices['a' : 'c']))

print()
print('인덱스가 존재하는지 - ' , 'a' in prices , 0 in prices)

print(prices.index)

print()
print('인덱스를 활용한 데이터 변경 - ')
prices['a'] = 10000
print()
print( prices )

print()
print('데이터 추가 가능 - ')
prices['e'] = 6000
print( prices )

print()
print('데이터 삭제 - ')
del prices['e']
print( prices )

사용자 정의 인덱스 부여가 가능하다 -
a    4000
b    3000
c    3500
d    2000
dtype: int64

4000 <class 'numpy.int64'> 4000

a    4000
b    3000
c    3500
dtype: int64 <class 'pandas.core.series.Series'>

인덱스가 존재하는지 -  True False
Index(['a', 'b', 'c', 'd'], dtype='object')

인덱스를 활용한 데이터 변경 -

a    10000
b     3000
c     3500
d     2000
dtype: int64

데이터 추가 가능 -
a    10000
b     3000
c     3500
d     2000
e     6000
dtype: int64

데이터 삭제 -
a    10000
b     3000
c     3500
d     2000
dtype: int64

In [6]:

prices = pd.Series([4000, 3000, 3500, 2000])
print()
print('벡터화 연산이 가능하다 - ')
print( prices * 10 )
print( prices )

print()
print('조건식을 활용 할 수 있다 - ')

prices[ prices > 3000 ]

벡터화 연산이 가능하다 -
0    40000
1    30000
2    35000
3    20000
dtype: int64
0    4000
1    3000
2    3500
3    2000
dtype: int64

조건식을 활용 할 수 있다 -

0    4000
2    3500
dtype: int64

In [7]:
print('dict , tuple , set  생성이 가능 -')
print()

person = pd.Series({ 'name' : '임정섭' , 'age' : 25 })
print( person )
print('index - ' , person.index)
print('value - ' , person.values)

print()
print()
ages = pd.Series( (10, 20, 30) )
print( ages )
print('index - ' , ages.index)
print('value - ' , ages.values)

print()
print('set 은 주의하셔야 한다 - ')
ages = pd.Series( list( {10, 20, 30} ) )
print( ages )
print('index - ' , ages.index)
print('value - ' , ages.values)

dict , tuple , set  생성이 가능 -

name    임정섭
age      25
dtype: object
index -  Index(['name', 'age'], dtype='object')
value -  ['임정섭' 25]


0    10
1    20
2    30
dtype: int64
index -  RangeIndex(start=0, stop=3, step=1)
value -  [10 20 30]

set 은 주의하셔야 한다 -
0    10
1    20
2    30
dtype: int64
index -  RangeIndex(start=0, stop=3, step=1)
value -  [10 20 30]

In [8]:
tmp = pd.Series([1,2,3,4,5],
                index = ['강남', '서초', '방배', '동작', '광진'] )

tmp.name = '특정한 의미를 부여할 수 있다'
tmp.index.name= '구 구별'
tmp

구 구별
강남    1
서초    2
방배    3
동작    4
광진    5
Name: 특정한 의미를 부여할 수 있다, dtype: int64

In [9]:
tmp = pd.Series( range(10, 21) , dtype = 'f')
tmp

0     10.0
1     11.0
2     12.0
3     13.0
4     14.0
5     15.0
6     16.0
7     17.0
8     18.0
9     19.0
10    20.0
dtype: float32

In [10]:
print( tmp * 10)

0     100.0
1     110.0
2     120.0
3     130.0
4     140.0
5     150.0
6     160.0
7     170.0
8     180.0
9     190.0
10    200.0
dtype: float32

In [11]:
print( tmp[ tmp%2 == 0 ] )

0     10.0
2     12.0
4     14.0
6     16.0
8     18.0
10    20.0
dtype: float32

In [7]:
print('날짜와 시간을 인덱스로 활용한다면? - ')

day = datetime(2022, 3, 25)
print( day + timedelta(days=1) )

날짜와 시간을 인덱스로 활용한다면? -
2022-03-26 00:00:00

In [8]:
print('[실습] 평균이 50이고 편차 5인 정규분포 데이터를 10일간 만들고 싶다면? - ')
print(' np.random.normal(50, 5, 10) ')

[실습] 평균이 50이고 편차 5인 정규분포 데이터를 10일간 만들고 싶다면? -
 np.random.normal(50, 5, 10)

In [9]:
np.random.normal(50, 5, 10)

array([53.35103582, 56.68531886, 46.64758711, 48.11255717, 51.93886692,
       45.79803954, 45.73974522, 58.31168634, 49.77621305, 54.15401203])

In [10]:
factory01 = pd.Series( np.random.normal(50, 5, 10) ,
                       index = [ day + timedelta(days = d) for d in range(10) ])
factory02 = pd.Series( np.random.normal(50, 5, 10) ,
                       index = [ day + timedelta(days = d) for d in range(10) ])

In [11]:
factory01

2022-03-25    52.400639
2022-03-26    52.178605
2022-03-27    45.730613
2022-03-28    54.991635
2022-03-29    48.748348
2022-03-30    42.997151
2022-03-31    51.000569
2022-04-01    51.025241
2022-04-02    49.732709
2022-04-03    40.834853
dtype: float64

In [12]:
factory02

2022-03-25    41.647562
2022-03-26    44.838423
2022-03-27    45.622159
2022-03-28    51.747168
2022-03-29    56.188965
2022-03-30    47.266996
2022-03-31    43.063023
2022-04-01    45.770367
2022-04-02    48.989080
2022-04-03    50.753215
dtype: float64

In [13]:
factory01 + factory02

2022-03-25     94.048201
2022-03-26     97.017028
2022-03-27     91.352772
2022-03-28    106.738804
2022-03-29    104.937312
2022-03-30     90.264147
2022-03-31     94.063592
2022-04-01     96.795607
2022-04-02     98.721788
2022-04-03     91.588067
dtype: float64