In [2]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re

from glob import glob


print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [2]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '학번' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

    학번  학과   학점
0  100  CS  2.4
1  200  AI  4.5
2  400  AI  1.7
3  500  CS  3.9

In [4]:
print('how = inner , outer , left , right - ')
pd.merge(stu_frm , major_frm , how = 'right')

how = inner , outer , left , right -

    학번   이름   학년  학과   학점
0  100   윤석  2.0  CS  2.4
1  200   현진  4.0  AI  4.5
2  400   기성  1.0  AI  1.7
3  500  NaN  NaN  CS  3.9

In [5]:
data01 = {
    '학번' : [100, 200, 300, 400],
    '이름' : ['윤석', '현진', '보현', '기성'],
    '학년' : [2, 4, 3, 1]
}

data02 = {
    '과목코드' : [100, 200, 400, 500],
    '학과' : ['CS', 'AI', 'AI', 'CS'],
    '학점' : [2.4, 4.5, 1.7, 3.9]
}
stu_frm   = pd.DataFrame(data01)
major_frm = pd.DataFrame(data02)

display(stu_frm)
print()
display(major_frm)

    학번  이름  학년
0  100  윤석   2
1  200  현진   4
2  300  보현   3
3  400  기성   1

   과목코드  학과   학점
0   100  CS  2.4
1   200  AI  4.5
2   400  AI  1.7
3   500  CS  3.9

In [6]:
pd.merge(stu_frm , major_frm , how = 'inner' , left_on = '학번' , right_on = '과목코드')

    학번  이름  학년  과목코드  학과   학점
0  100  윤석   2   100  CS  2.4
1  200  현진   4   200  AI  4.5
2  400  기성   1   400  AI  1.7

In [7]:
datasets = sns.load_dataset('iris')
print('type - ' , type(datasets))
print()

type -  <class 'pandas.core.frame.DataFrame'>

In [8]:
data01 = {
    'species'      : ['setosa' , 'virginica' ,  'virginica'  , 'versicolor'],
    'sepal_length' : [5.1, 4.9 , 3.7 , 1.5] ,
    'petal_width'  : [4.1, 3.9, 3.7, 3.6]
}

data02 = {
    'species'      : ['setosa' , 'setosa' , 'virginica' ,  'virginica'],
    'sepal_length' : [4.1, 5.9 , 4.7 , 3.5]
}

iris01_frm   = pd.DataFrame(data01)
iris02_frm = pd.DataFrame(data02)

display(iris01_frm)
print()
display(iris02_frm)

      species  sepal_length  petal_width
0      setosa           5.1          4.1
1   virginica           4.9          3.9
2   virginica           3.7          3.7
3  versicolor           1.5          3.6

     species  sepal_length
0     setosa           4.1
1     setosa           5.9
2  virginica           4.7
3  virginica           3.5

In [9]:
print('on -> 중복되는 키가 존재할 경우 어느 키를 기준으로 merge할지를 결정 - ')
pd.merge(iris01_frm , iris02_frm , on = 'species')

on -> 중복되는 키가 존재할 경우 어느 키를 기준으로 merge할지를 결정 -

     species  sepal_length_x  petal_width  sepal_length_y
0     setosa             5.1          4.1             4.1
1     setosa             5.1          4.1             5.9
2  virginica             4.9          3.9             4.7
3  virginica             4.9          3.9             3.5
4  virginica             3.7          3.7             4.7
5  virginica             3.7          3.7             3.5

In [10]:
print('인덱스를 기준으로 병합 - ')
print('left_index , right_index - ')

pop01_frm = pd.DataFrame({
    'city' : ['seoul' , 'seoul' , 'seoul' , 'kwangju' , 'kwangju'],
    'year' : [2010 , 2050, 2020, 2018 , 2022],
    'pop'  : [1234567, 2345678, 3456789, 4567890, 5678901]
})

pop02_frm = pd.DataFrame( np.arange(12).reshape(6,2) ,
                          columns = ['col01' , 'col02'] ,
                          index   = [ ['seoul' , 'seoul' , 'kwangju' ,  'kwangju' ,  'kwangju',  'kwangju'] ,
                                      [2010 , 2050, 2020, 2018 , 2022, 2024]
                                    ] )

print()
display(pop01_frm)
print()
display(pop02_frm)

인덱스를 기준으로 병합 -
left_index , right_index -

      city  year      pop
0    seoul  2010  1234567
1    seoul  2050  2345678
2    seoul  2020  3456789
3  kwangju  2018  4567890
4  kwangju  2022  5678901

              col01  col02
seoul   2010      0      1
        2050      2      3
kwangju 2020      4      5
        2018      6      7
        2022      8      9
        2024     10     11

In [11]:
pd.merge(pop01_frm , pop02_frm , right_index = True , left_on=['city' , 'year'])

      city  year      pop  col01  col02
0    seoul  2010  1234567      0      1
1    seoul  2050  2345678      2      3
3  kwangju  2018  4567890      6      7
4  kwangju  2022  5678901      8      9

In [12]:
print('인덱스를 기준으로 병합 - ')
print('left_index , right_index - ')

pop01_frm = pd.DataFrame({
    'city' : ['seoul' , 'seoul' , 'seoul' , 'kwangju' , 'kwangju'],
    'year' : [2010 , 2050, 2020, 2018 , 2022],
    'pop'  : [1234567, 2345678, 3456789, 4567890, 5678901]
    } ,
    index = [1,3,5,7,9])

pop02_frm = pd.DataFrame( np.arange(12).reshape(6,2) ,
                          columns = ['col01' , 'col02'] ,
                          index   = [1,2,3,4,5,6] )

print()
display(pop01_frm)
print()
display(pop02_frm)

인덱스를 기준으로 병합 -
left_index , right_index -

      city  year      pop
1    seoul  2010  1234567
3    seoul  2050  2345678
5    seoul  2020  3456789
7  kwangju  2018  4567890
9  kwangju  2022  5678901

   col01  col02
1      0      1
2      2      3
3      4      5
4      6      7
5      8      9
6     10     11

In [3]:
files = glob('./pandas_data/지역_*.xls')
tmp_raw = []
for f in files:
    tmp = pd.read_excel(f, header = 2)
    tmp_raw.append(tmp)
station = pd.concat(tmp_raw)
station

ValueError: No objects to concatenate