In [3]:
import numpy  as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

from datetime import date, datetime, timedelta
from dateutil.parser import parse

import matplotlib.pyplot as plt
%matplotlib inline

import json
import urllib

# titanic dataset
import seaborn as sns

# 비정형 데이터 처리를 위한 라이브러리
from bs4 import BeautifulSoup
import requests
import re



print('numpy  version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

numpy  version -  1.20.3
pandas version -  1.3.4

In [4]:
def seriesInfo(s) :
    print('series : index + values \n' , s)
    print('index  - ' , s.index  , type(s.index))
    print('values - ' , s.values , type(s.values))

def frmInfo(df) :
    display('data - ' , df )
    print()
    print('shape   - ' , df.shape , df.shape[0] , df.shape[1])
    print('size    - ' , df.size )
    print('ndim    - ' , df.ndim)
    print('index   - ' , df.index    , type(df.index))
    print('columns - ' , df.columns  , type( df.columns ))
    print('values  - \n' , df.values , type(df.values) )

In [3]:
# 한글 폰트 문제 해결
import platform

from matplotlib import font_manager, rc

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')


# 차트 축 <- 음수 부호 지원
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
court_frm = pd.read_csv('/Users/choijaewoo/pandas_data/court_code.txt' , sep='\t' , encoding='cp949')
frmInfo( court_frm )

'data - '

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46180 rows x 3 columns]

shape   -  (46180, 3) 46180 3
size    -  138540
ndim    -  2
index   -  RangeIndex(start=0, stop=46180, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns -  Index(['법정동코드', '법정동명', '폐지여부'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values  -
 [[1100000000 '서울특별시' '존재']
 [1111000000 '서울특별시 종로구' '존재']
 [1111010100 '서울특별시 종로구 청운동' '존재']
 ...
 [5013032024 '제주특별자치도 서귀포시 표선면 가시리' '존재']
 [5013032025 '제주특별자치도 서귀포시 표선면 세화리' '존재']
 [5013032026 '제주특별자치도 서귀포시 표선면 토산리' '존재']] <class 'numpy.ndarray'>

In [5]:
print('폐지여부가 존재인것들만 subset 으로 만들어본다면? - ')

# court_frm['폐지여부'].value_counts()
boolean_idx = court_frm['폐지여부'] == '존재'

court_exist_frm = court_frm[boolean_idx]
# court_exits_frm['폐지여부'].value_counts()
court_exist_frm

폐지여부가 존재인것들만 subset 으로 만들어본다면? -

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20544 rows x 3 columns]

In [6]:
print('str 이용해서 문자열 처리가 가능 - ')
print('type - ' , type(court_exist_frm['법정동명'].str))

str 이용해서 문자열 처리가 가능 -
type -  <class 'pandas.core.strings.accessor.StringMethods'>

In [7]:
print('힌트 - ')
court_exist_frm['법정동명'].str.split(" " , expand = True).head()

힌트 -

       0     1     2     3     4
0  서울특별시  None  None  None  None
1  서울특별시   종로구  None  None  None
2  서울특별시   종로구   청운동  None  None
3  서울특별시   종로구   신교동  None  None
4  서울특별시   종로구   궁정동  None  None

In [8]:
print('서울로 시작하는 데이터만 필터링 한다면 - ')

court_exist_frm[ court_exist_frm['법정동명'].str.startswith('서울') ]

서울로 시작하는 데이터만 필터링 한다면 -

           법정동코드           법정동명 폐지여부
0     1100000000          서울특별시   존재
1     1111000000      서울특별시 종로구   존재
2     1111010100  서울특별시 종로구 청운동   존재
3     1111010200  서울특별시 종로구 신교동   존재
4     1111010300  서울특별시 종로구 궁정동   존재
...          ...            ...  ...
1107  1174010600  서울특별시 강동구 둔촌동   존재
1108  1174010700  서울특별시 강동구 암사동   존재
1109  1174010800  서울특별시 강동구 성내동   존재
1110  1174010900  서울특별시 강동구 천호동   존재
1111  1174011000  서울특별시 강동구 강일동   존재

[493 rows x 3 columns]

In [9]:
print('동으로 끝나는 데이터만 필터링 한다면   - ')
court_exist_frm[ court_exist_frm['법정동명'].str.endswith('동') ]

동으로 끝나는 데이터만 필터링 한다면   -

            법정동코드              법정동명 폐지여부
2      1111010100     서울특별시 종로구 청운동   존재
3      1111010200     서울특별시 종로구 신교동   존재
4      1111010300     서울특별시 종로구 궁정동   존재
5      1111010400     서울특별시 종로구 효자동   존재
6      1111010500     서울특별시 종로구 창성동   존재
...           ...               ...  ...
46119  5013011800  제주특별자치도 서귀포시 하원동   존재
46120  5013011900  제주특별자치도 서귀포시 색달동   존재
46121  5013012000  제주특별자치도 서귀포시 상예동   존재
46122  5013012100  제주특별자치도 서귀포시 하예동   존재
46123  5013012200  제주특별자치도 서귀포시 영남동   존재

[3205 rows x 3 columns]

In [10]:
print('서울이고 강서구만 필터링 한다면 - ')
court_exist_frm[  court_exist_frm['법정동명'].str.contains('서울') & court_exist_frm['법정동명'].str.contains('강서구') ]

서울이고 강서구만 필터링 한다면 -

          법정동코드            법정동명 폐지여부
737  1150000000       서울특별시 강서구   존재
740  1150010100   서울특별시 강서구 염창동   존재
741  1150010200   서울특별시 강서구 등촌동   존재
742  1150010300   서울특별시 강서구 화곡동   존재
743  1150010400   서울특별시 강서구 가양동   존재
744  1150010500   서울특별시 강서구 마곡동   존재
745  1150010600  서울특별시 강서구 내발산동   존재
746  1150010700  서울특별시 강서구 외발산동   존재
747  1150010800   서울특별시 강서구 공항동   존재
748  1150010900   서울특별시 강서구 방화동   존재
749  1150011000   서울특별시 강서구 개화동   존재
750  1150011100   서울특별시 강서구 과해동   존재
751  1150011200   서울특별시 강서구 오곡동   존재
752  1150011300   서울특별시 강서구 오쇠동   존재

In [11]:
weather_frm = pd.read_csv('/Users/choijaewoo/pandas_data/weather_20201012.csv' , encoding = 'cp949')
frmInfo( weather_frm )

'data - '

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40849  2020-10-07  108     16.0      9.9     22.0
40850  2020-10-08  108     17.2     12.1     23.1
40851  2020-10-09  108     17.2     12.4     23.3
40852  2020-10-10  108     16.9     12.3     21.5
40853  2020-10-11  108     16.9     12.7     20.8

[40854 rows x 5 columns]

shape   -  (40854, 5) 40854 5
size    -  204270
ndim    -  2
index   -  RangeIndex(start=0, stop=40854, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns -  Index(['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values  -
 [['1907-10-01' 108 13.5 7.9 20.7]
 ['1907-10-02' 108 16.2 7.9 22.0]
 ['1907-10-03' 108 16.2 13.1 21.3]
 ...
 ['2020-10-09' 108 17.2 12.4 23.3]
 ['2020-10-10' 108 16.9 12.3 21.5]
 ['2020-10-11' 108 16.9 12.7 20.8]] <class 'numpy.ndarray'>

In [12]:
print('기온이 가장 높았던 데이터를 출력 - (데이터프레임형식으로)')
print('sort_values - ')
print()
print('case01 - ')
display( weather_frm.sort_values(by='최고기온(℃)' , ascending = False).iloc[[0]] )

print()
print('case02 - ')
display( weather_frm[ weather_frm['최고기온(℃)'] ==  weather_frm['최고기온(℃)'].max() ] )

기온이 가장 높았던 데이터를 출력 - (데이터프레임형식으로)
sort_values -

case01 -

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
40051  2018-08-01  108     33.6     27.8     39.6

case02 -

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
40051  2018-08-01  108     33.6     27.8     39.6

In [13]:
tmp_frm = pd.DataFrame( np.random.randint(10, size=(4,8)))
tmp_frm

   0  1  2  3  4  5  6  7
0  7  6  0  9  5  0  8  4
1  8  9  7  0  3  6  2  5
2  5  5  4  9  6  0  8  1
3  7  0  3  7  5  2  5  6

In [14]:
tmp_frm.sum(axis = 1 )

0    39
1    40
2    38
3    35
dtype: int64

In [15]:
tmp_frm['row_sum'] = tmp_frm.sum(axis = 1 )
tmp_frm

   0  1  2  3  4  5  6  7  row_sum
0  7  6  0  9  5  0  8  4       39
1  8  9  7  0  3  6  2  5       40
2  5  5  4  9  6  0  8  1       38
3  7  0  3  7  5  2  5  6       35

In [5]:
court_frm = pd.read_csv('/Users/choijaewoo/pandas_data/court_code.txt' , sep='\t' , encoding='cp949')
frmInfo( court_frm )

'data - '

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46180 rows x 3 columns]

shape   -  (46180, 3) 46180 3
size    -  138540
ndim    -  2
index   -  RangeIndex(start=0, stop=46180, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns -  Index(['법정동코드', '법정동명', '폐지여부'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values  -
 [[1100000000 '서울특별시' '존재']
 [1111000000 '서울특별시 종로구' '존재']
 [1111010100 '서울특별시 종로구 청운동' '존재']
 ...
 [5013032024 '제주특별자치도 서귀포시 표선면 가시리' '존재']
 [5013032025 '제주특별자치도 서귀포시 표선면 세화리' '존재']
 [5013032026 '제주특별자치도 서귀포시 표선면 토산리' '존재']] <class 'numpy.ndarray'>

In [6]:
court_frm.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [7]:
print('폐지여부가 존재인것들만 subset 으로 만들어본다면? - ')

# court_frm['폐지여부'].value_counts()
boolean_idx = court_frm['폐지여부'] == '존재'

court_exist_frm = court_frm[boolean_idx]
# court_exits_frm['폐지여부'].value_counts()
court_exist_frm

폐지여부가 존재인것들만 subset 으로 만들어본다면? -

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20544 rows x 3 columns]

In [8]:
print('str 이용해서 문자열 처리가 가능 - ')
print('type - ' , type(court_exist_frm['법정동명'].str))

str 이용해서 문자열 처리가 가능 -
type -  <class 'pandas.core.strings.accessor.StringMethods'>

In [9]:
print('힌트 - ')
court_exist_frm['법정동명'].str.split(" " , expand = True).head()

힌트 -

       0     1     2     3     4
0  서울특별시  None  None  None  None
1  서울특별시   종로구  None  None  None
2  서울특별시   종로구   청운동  None  None
3  서울특별시   종로구   신교동  None  None
4  서울특별시   종로구   궁정동  None  None

In [10]:
print('서울로 시작하는 데이터만 필터링 한다면 - ')

court_exist_frm[ court_exist_frm['법정동명'].str.startswith('서울') ]

서울로 시작하는 데이터만 필터링 한다면 -

           법정동코드           법정동명 폐지여부
0     1100000000          서울특별시   존재
1     1111000000      서울특별시 종로구   존재
2     1111010100  서울특별시 종로구 청운동   존재
3     1111010200  서울특별시 종로구 신교동   존재
4     1111010300  서울특별시 종로구 궁정동   존재
...          ...            ...  ...
1107  1174010600  서울특별시 강동구 둔촌동   존재
1108  1174010700  서울특별시 강동구 암사동   존재
1109  1174010800  서울특별시 강동구 성내동   존재
1110  1174010900  서울특별시 강동구 천호동   존재
1111  1174011000  서울특별시 강동구 강일동   존재

[493 rows x 3 columns]

In [11]:
print('동으로 끝나는 데이터만 필터링 한다면   - ')
court_exist_frm[ court_exist_frm['법정동명'].str.endswith('동') ]

동으로 끝나는 데이터만 필터링 한다면   -

            법정동코드              법정동명 폐지여부
2      1111010100     서울특별시 종로구 청운동   존재
3      1111010200     서울특별시 종로구 신교동   존재
4      1111010300     서울특별시 종로구 궁정동   존재
5      1111010400     서울특별시 종로구 효자동   존재
6      1111010500     서울특별시 종로구 창성동   존재
...           ...               ...  ...
46119  5013011800  제주특별자치도 서귀포시 하원동   존재
46120  5013011900  제주특별자치도 서귀포시 색달동   존재
46121  5013012000  제주특별자치도 서귀포시 상예동   존재
46122  5013012100  제주특별자치도 서귀포시 하예동   존재
46123  5013012200  제주특별자치도 서귀포시 영남동   존재

[3205 rows x 3 columns]

In [12]:
print('서울이고 강서구만 필터링 한다면 - ')
court_exist_frm[  court_exist_frm['법정동명'].str.contains('서울') & court_exist_frm['법정동명'].str.contains('강서구') ]

서울이고 강서구만 필터링 한다면 -

          법정동코드            법정동명 폐지여부
737  1150000000       서울특별시 강서구   존재
740  1150010100   서울특별시 강서구 염창동   존재
741  1150010200   서울특별시 강서구 등촌동   존재
742  1150010300   서울특별시 강서구 화곡동   존재
743  1150010400   서울특별시 강서구 가양동   존재
744  1150010500   서울특별시 강서구 마곡동   존재
745  1150010600  서울특별시 강서구 내발산동   존재
746  1150010700  서울특별시 강서구 외발산동   존재
747  1150010800   서울특별시 강서구 공항동   존재
748  1150010900   서울특별시 강서구 방화동   존재
749  1150011000   서울특별시 강서구 개화동   존재
750  1150011100   서울특별시 강서구 과해동   존재
751  1150011200   서울특별시 강서구 오곡동   존재
752  1150011300   서울특별시 강서구 오쇠동   존재

In [14]:
weather_frm = pd.read_csv('/Users/choijaewoo/pandas_data/weather_20201012.csv' , encoding = 'cp949')
frmInfo( weather_frm )

'data - '

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40849  2020-10-07  108     16.0      9.9     22.0
40850  2020-10-08  108     17.2     12.1     23.1
40851  2020-10-09  108     17.2     12.4     23.3
40852  2020-10-10  108     16.9     12.3     21.5
40853  2020-10-11  108     16.9     12.7     20.8

[40854 rows x 5 columns]

shape   -  (40854, 5) 40854 5
size    -  204270
ndim    -  2
index   -  RangeIndex(start=0, stop=40854, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
columns -  Index(['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object') <class 'pandas.core.indexes.base.Index'>
values  -
 [['1907-10-01' 108 13.5 7.9 20.7]
 ['1907-10-02' 108 16.2 7.9 22.0]
 ['1907-10-03' 108 16.2 13.1 21.3]
 ...
 ['2020-10-09' 108 17.2 12.4 23.3]
 ['2020-10-10' 108 16.9 12.3 21.5]
 ['2020-10-11' 108 16.9 12.7 20.8]] <class 'numpy.ndarray'>

In [15]:
print('기온이 가장 높았던 데이터를 출력 - (데이터프레임형식으로)')
print('sort_values - ')
print()
print('case01 - ')
display( weather_frm.sort_values(by='최고기온(℃)' , ascending = False).iloc[[0]] )

print()
print('case02 - ')
display( weather_frm[ weather_frm['최고기온(℃)'] ==  weather_frm['최고기온(℃)'].max() ] )

기온이 가장 높았던 데이터를 출력 - (데이터프레임형식으로)
sort_values -

case01 -

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
40051  2018-08-01  108     33.6     27.8     39.6

case02 -

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
40051  2018-08-01  108     33.6     27.8     39.6

In [16]:
tmp_frm = pd.DataFrame( np.random.randint(10, size=(4,8)))
tmp_frm

   0  1  2  3  4  5  6  7
0  3  8  9  4  6  0  5  7
1  2  4  1  2  9  4  5  9
2  7  4  6  1  5  1  2  8
3  6  1  8  5  8  9  9  8

In [17]:
tmp_frm.sum(axis = 1 )

0    42
1    36
2    34
3    54
dtype: int64